<%= form_for(@query_execution) do |f| %>
  <% if @query_execution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@query_execution.errors.count, "error") %> prohibited this query_execution from being saved:</h2>

      <ul>
      <% @query_execution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :parameters %><br />
    <%= f.text_area :parameters %>
  </div>
  <div class="field">
    <%= f.label :result_path %><br />
    <%= f.text_field :result_path %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
