<h1>Listing Query Executions</h1>

<table>
  <tr>
    <th>Parameters</th>
    <th>Result path</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @query_executions.each do |query_execution| %>
  <tr>
    <td><%= query_execution.parameters %></td>
    <td><%= query_execution.cache_path %></td>
    <td><%= link_to 'Show', query_execution %></td>
    <td><%= link_to 'Edit', edit_query_execution_path(query_execution) %></td>
    <td><%= link_to 'Destroy', query_execution, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Query execution', new_query_execution_path %>
