<script>
  $(document).ready(function() {
      var editor = ace.edit("sql-editor");
      var SQLMode = require("ace/mode/sql").Mode;
      editor.getSession().setMode(new SQLMode());
      var textarea = $('#sql');
      editor.getSession().setValue(textarea.val());
      editor.getSession().on('change', function(){
        textarea.val(editor.getSession().getValue());
      });
  });
</script>
<%= form_for @query do |f| %>
  <% if @query.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@query.errors.count, "error") %> prohibited this query from being saved:</h2>
    <ul>
    <% @query.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div id="query-form-left">
    <div class="field">
      <%= f.label :category, "Category:" %><br />
      <%= f.text_field :category, :id => 'category' %>
    </div>
    <div class="field">
      <%= f.label :name, "Name:" %><br />
      <%= f.text_field :name, :id => 'name' %>
    </div>
    <div class="field">
      <%= f.label :source, "Source:" %><br />
      <select name="query[source]" id="source">
        <% ['statsdb', 'statsdb_pg'].each do |source| %>
          <option value="<%= source %>"<%= source == @query.source ? ' selected="selected"' : '' %>><%= source %></option>
        <% end %>
      </select>
    </div>
    <div class="field">
      <%= f.label :transform, "Transform:" %><br />
      <%= f.text_field :transform, :id => 'transform' %>
    </div>
    <div class="field">
      <%= f.label :description, "Description:" %><br />
      <%= f.text_area :description, :id => 'description' %>
    </div>
    <div class="actions">
      <%= f.submit :tabindex => 100 %>
    </div>
  </div>
  <div id="query-form-right">
    <div class="field">
      <%= f.label :sql, "SQL:" %><br />
      <%= f.text_area :sql, :id => 'sql' %>
      <div id="sql-editor"></div>
    </div>
  </div>
  <% end %>
