    <div id="query-index">
<%
  @query_categories = {}
  @queries.each do |query|
    @query_categories[ query.category ] ||= []
    @query_categories[ query.category ] << query
  end
%>
<% if ! @category %>
<h4>Featured</h4>
      <table>
        <tbody>
        <% queries = @query_categories['Featured']
           queries.each do |query| %>
          <tr onclick="window.location='<%= query_path query %>'">
            <td class="name"><%= link_to query.name, query, :class => 'query-action'  %></td>
            <td class="description"><%= link_to query.short_desc, query, :class => 'query-action' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </br>
      <hr>
<% end %>
<% @query_categories.delete 'Featured'
   @query_categories.keys.each do |category| %>  
<h4><%= category %></h4>
      <table>
        <tbody>
        <% queries = @query_categories[category]
           queries.each do |query| %>
          <tr onclick="window.location='<%= query_path query %>'">
            <td class="name"><%= link_to query.name, query, :class => 'query-action'  %></td>
            <td class="description"><%= link_to query.short_desc, query, :class => 'query-action' %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </br>
<% end %>

    </div>
